/* .callout[data-callout='mormon'] {
  --callout-icon: book-plus;
} */  

.callout[data-callout='mormon']{
  --callout-icon: quote;
  --link-external-color:#007da5;
  border-color: #ffffff !important;
  border-radius: 5px 5px 5px 5px;
  border-left-color: #007da5 !important;
  border-left-width: 2px !important;
  background-color: #ffffff;
  
  background-image: linear-gradient(
    to right,
    rgba(0, 125, 165, 0.1),
    rgba(0, 125, 165, 0)
  );
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  
  & > .callout-title > .callout-title-inner {
    color: #007da5;
    font-size: 1.25em;
    line-height: 1.75em;
  }
  & > .callout-title > .callout-icon {
    color: #000000;
    display: none;
  }

}

.callout[data-callout="mormon"] .callout-content p {
  font-style: italic;
  /* text-align: center; */
}



/* .callout[data-callout='gencon']{ */
  /* --callout-icon: '<svg viewBox="8 8 20 15" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="0%" y1="50%" y2="50%" id="a"><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".6" offset="0%"></stop><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".25" offset="100%"></stop></linearGradient><linearGradient x1="0%" y1="50%" y2="50%" id="b"><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".35" offset="0%"></stop><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".15" offset="100%"></stop></linearGradient><linearGradient x1="0%" y1="50%" x2="98.607%" y2="50%" id="c"><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".6" offset="0%"></stop><stop stop-color="var(--theme-page-header-nav-bg, var(--blue25))" stop-opacity=".35" offset="100%"></stop></linearGradient></defs><g fill-rule="nonzero" fill="none"><path fill="url(#a)" d="M6 40V0h10.34l-7.755 40z"></path><path fill="url(#b)" d="M8 40V3.93L33.984 40z"></path><path fill="url(#a)" d="M8 40V0l15.64 40z"></path><path fill="url(#c)" d="M10.598 40H7V0h3.598z"></path><path fill="var(--theme-page-header-nav-bg, var(--blue25))" d="M0 0h8v40H0z"></path></g></svg>'; */
  /* --callout-icon: '<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="width: var(--headerSpacing24); height: var(--headerSpacing24);"><path d="M19.75 15v5.75h-5.409v-3.637A2.343 2.343 0 0 0 12 14.772a2.343 2.343 0 0 0-2.341 2.341v3.637H4.25V15h-.056l6.223-3.007c.208-.1.358-.29.407-.516L12 6.045l1.176 5.432a.748.748 0 0 0 .407.516L19.806 15h-.056zm-5.185-4.198l-1.832-8.461c-.171-.788-1.295-.788-1.466 0l-1.832 8.461-7.761 3.75a.75.75 0 1 0 .652 1.351l.424-.205V21.5c0 .414.336.75.75.75h17a.75.75 0 0 0 .75-.75v-5.802l.424.205a.75.75 0 1 0 .652-1.351l-7.761-3.75z"></path></svg>'
 
} */

/* CSS for GenCon Block Quotes */

.callout[data-callout='gencon']{
  --callout-icon: quote;
  --link-external-color:#007da5;
  border-color: #ffffff !important;
  border-radius: 5px 5px 5px 5px;
  border-left-color: #007da5 !important;
  border-left-width: 2px !important;
  background-color: #ffffff;
  
  background-image: linear-gradient(
    to right,
    rgba(0, 125, 165, 0.1),
    rgba(0, 125, 165, 0)
  );
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  
  & > .callout-title > .callout-title-inner {
    color: #007da5;
    font-size: 1.25em;
    line-height: 1.75em;
  }
  & > .callout-title > .callout-icon {
    color: #000000;
    display: none;
  }

}

.callout[data-callout="gencon"] .callout-content p {
  font-style: italic;
  /* text-align: center; */
}

.callout[data-callout="genconcitation"]{
  
  border-color: transparent !important;
  background-color: transparent !important;
  text-align: right;
  color: #007da5;
  font-size: 1em;
  line-height: 1.5em;
  margin: auto;
  /* margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px; */

  & > .callout-title > .callout-icon {
    display: none;
  }
  & > .callout-title > .callout-title-inner {
    display: none;
  }
}

cite {
  color: #007da5;
  text-align: end;
  display: block;
}



